@using X.PagedList
@using X.PagedList.Mvc.Core
@using System.Text.RegularExpressions;


@model IPagedList<ShopProject.Models.Shop.Product>
<!--為了讀取Session，讓程式判定是否為後台管理者，產生相對應的Layout佈局-->
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Admin = HttpContextAccessor.HttpContext.Session.GetString("Admin");
    if (ViewBag.Admin == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    ViewData["Title"] = "SearchProduct";


    //string query = Context.Request.QueryString.Value;


}



<section class="full-width-container">

    <p style="font-size: 15px;margin-top: 20px;">Shop By Product / Top</p>
    <div class="item-container" style="text-align:center; margin-top:10px;">
        <div class="item-list">
            <p style="font-family: 'Fjalla One', monospace;">Shop By Product</p>
            <ul style="padding:20px;">
                <li>
                    <a asp-controller="ProductView" asp-action="TopIndex">Clothes</a>
                </li>
                <li>
                    <a asp-controller="ProductView" asp-action="BottomIndex"> Bottom</a>
                </li>
                <li>
                    <a asp-controller="ProductView" asp-action="ShoesIndex">Shoes</a>
                </li>
                <li>
                    <a asp-controller="ProductView" asp-action="AccessoriesIndex">Accessories</a>
                </li>

            </ul>
        </div>

        <div class="container">
            <div class="row" style="display:flex; justify-content:center;">
                @foreach (var item in Model)
                {

                    <div class="col-md-6">
                        <div class="card" style="margin-bottom: 20px;margin-top: 20px;">
                            @*src="@Url.Content(item.ImgUrl)"才吃的到圖片*@
                            <a asp-controller="ProductView" asp-action="ProductDetails" asp-route-model="@item.Model">
                                <img class="item-image" src="@Url.Content(item.ImgUrl)" alt="Card image cap">
                            </a>
                            <div class="card-block">
                                <h4 class="card-title">@item.Name</h4>
                                @*<p class="item-description">Sample text. Click to select the text box.</p>*@
                                <h3 class="price">$@item.Price</h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<!--為了使用套件產生分頁-->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchProduct", new { page }))




@*@Html.PagedListPager((IPagedList)Model, page => Regex.IsMatch(query, @"[?&]page=\d+")
    ? Regex.Replace(query, @"([?&])page=\d+", $"$1page={page}")
    : (query.StartsWith("?") ? $"{query}&page={page}" : $"{query}?page={page}"),
    new X.PagedList.Web.Common.PagedListRenderOptionsBase
    {
        DisplayPageCountAndCurrentLocation = true,
        MaximumPageNumbersToDisplay = 5,
    })*@



